<a href="https://colab.research.google.com/github/HarsolMiranda/PROGCOM-B/blob/main/Lista_de_ejecicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#1.Crear una lista con los cuadrados de los números del 1 al 10.
cuadrados = [i ** 2 for i in range(1,11)]
cuadrados

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
#2.Obtener una lista con los números pares del 0 al 20.
NumerosPares = [i for i in range(1,21) if i%2 ==0]
NumerosPares

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [5]:
#3.Crear una lista con el doble de cada número del 1 al 5.
NumerosDobles = [i * 2 for i in range(1,6)]
NumerosDobles

[2, 4, 6, 8, 10]

In [6]:
#4. De la palabra "programacion", obtener solo las vocales.
palabra = "programacion"
vocales = [letra for letra in palabra if letra in "aeiou"]
vocales

['o', 'a', 'a', 'i', 'o']

In [7]:
#5. Dada la lista ["python", "java", "c++"], obtener otra lista con las palabras en mayúsculas.
Programas = ["python", "java", "c++"]
Mayúsculas = [i.upper() for i in Programas]
Mayúsculas

['PYTHON', 'JAVA', 'C++']

In [11]:
#6. Crear una lista con "par" o "impar" para los números del 1 al 10.
ListaNumers = [1,2,3,4,5,6,7,8,9,10]
clasificacion = [("el numero", x, "es par") if x%2==0 else ("el numero", x, "es impar" ) for x in ListaNumers]
clasificacion

[('el numero', 1, 'es impar'),
 ('el numero', 2, 'es par'),
 ('el numero', 3, 'es impar'),
 ('el numero', 4, 'es par'),
 ('el numero', 5, 'es impar'),
 ('el numero', 6, 'es par'),
 ('el numero', 7, 'es impar'),
 ('el numero', 8, 'es par'),
 ('el numero', 9, 'es impar'),
 ('el numero', 10, 'es par')]

In [9]:
#7. Generar una lista de tuplas con el número y su cuadrado del 1 al 5.
ListaNumeros = [1,2,3,4,5]
NumerosCuadrados = [(x, "su cuadrado es" ,x**2 ) for x in ListaNumeros]
NumerosCuadrados

[(1, 'su cuadrado es', 1),
 (2, 'su cuadrado es', 4),
 (3, 'su cuadrado es', 9),
 (4, 'su cuadrado es', 16),
 (5, 'su cuadrado es', 25)]

In [10]:
#8. Crear una lista con todas las combinaciones de letras en ["a","b"] y números en [1,2,3].
Letras = ["a","b"]
Numeros = [1,2,3]
Combinados = [(letra,Numero) for letra in Letras for Numero in Numeros]
Combinados

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3)]

In [13]:
#9. De la lista ["sol", "estrella", "mar", "planeta"], obtener solo las palabras con más de 4 letras.
palabras =["sol", "estrella", "mar", "planeta"]
filtro = [i for i in palabras if len(i)<4]
filtro

['sol', 'mar']

In [2]:
10# Clasificar la temperatura de una lista. Si la temperatura es menor a 26, el clima es "Frío". Si es mayor a 29, el clima es "Caliente".
Temperatura=(range(1,31))
Clima=[("Frio",c)if c<=26 else ("Templado",c) if c<=29 and c<=29 else ("Caliente",c) for c in Temperatura]
Clima
[('Frio', 1), ('Frio', 2), ('Frio', 3), ('Frio', 4), ('Frio', 5), ('Frio', 6), ('Frio', 7), ('Frio', 8), ('Frio', 9), ('Frio', 10), ('Frio', 11), ('Frio', 12), ('Frio', 13), ('Frio', 14), ('Frio', 15), ('Frio', 16), ('Frio', 17), ('Frio', 18), ('Frio', 19), ('Frio', 20), ('Frio', 21), ('Frio', 22), ('Frio', 23), ('Frio', 24), ('Frio', 25), ('Frio', 26), ('Templado', 27), ('Templado', 28), ('Templado', 29), ('Caliente', 30)]

[('Frio', 1),
 ('Frio', 2),
 ('Frio', 3),
 ('Frio', 4),
 ('Frio', 5),
 ('Frio', 6),
 ('Frio', 7),
 ('Frio', 8),
 ('Frio', 9),
 ('Frio', 10),
 ('Frio', 11),
 ('Frio', 12),
 ('Frio', 13),
 ('Frio', 14),
 ('Frio', 15),
 ('Frio', 16),
 ('Frio', 17),
 ('Frio', 18),
 ('Frio', 19),
 ('Frio', 20),
 ('Frio', 21),
 ('Frio', 22),
 ('Frio', 23),
 ('Frio', 24),
 ('Frio', 25),
 ('Frio', 26),
 ('Templado', 27),
 ('Templado', 28),
 ('Templado', 29),
 ('Caliente', 30)]